{% extends 'base.html' %}
{% block content %}

    <h3>Update post.</h3><hr>
    {% if user.is_authenticated %}

        {% if user.id == post.author.id %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">Update</button>
            </form>
        {% else %}
            Please,Login as <b>{{post.author}}</b> to update the blog.<br>
        {% endif %}

    {% else %}
        You are not allowed here.
    {% endif %}

{% endblock %}